@import '../../shared/style/colour-theme.scss';
@import '../../shared/style/font.scss';

.Committee {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        @include industry_bold();
        color: $blue;
    }
}
