@import "../../shared/style/colour-theme.scss";
@import "../../shared/style/font.scss";
@import "../../shared/style/util.scss";

.Timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 10px;
    @include glassmorphism();
    border-radius: 12px;
}

.Timer > * {
    @include industry-bold();
    opacity: 70%;
}

.Timer h1 {
    color: $white;
    font-size: calc(min(1.5in, 15vh));
    margin-bottom: 0%;
    margin-top: 0%;
}

.Timer h3 {
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
}
